<mat-card>
  <div fxLayout class="flight-selection">
    <mat-form-field appearance="fill">
      <mat-label>Select a Flight</mat-label>
      <mat-select [formControl]="flight">
        <mat-option *ngFor="let flight of flightsData" [value]="flight.flight_number">{{ flight | flightPipe: 'admin'}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
<div class="space-gap"></div>
<mat-card>
  <app-page-layout>
    <div leftside>
      <app-smart-table 
        [title]="'Passengers'" 
        [isFilterable]="true" 
        [tableHeader]="passengerTable" 
        [tableSource]="passengersData" 
        (emittedAddRequest)="handleAddOperation($event)" 
        (emittedFilterRequest)="handleFilterOperation()" 
        (emittedObject)="handleEditOperation($event)"
      ></app-smart-table>
    </div>
    <div rightside>
      <app-smart-table 
        [title]="'Ancillary Services'"  
        [tableHeader]="servicesTable" 
        [tableSource]="servicesData" 
        (emittedAddRequest)="handleAddOperation($event)" 
        (emittedFilterRequest)="handleFilterOperation()" 
        (emittedObject)="handleEditOperation($event)"
      ></app-smart-table>
    </div>
  </app-page-layout>
</mat-card>